fastapi
uvicorn
python-dotenv
pymongo
certifi
redis
openai
kiwipiepy
pillow
pytesseract
PyPDF2
python-multipart
faiss-cpu
tenacity
langchain
langchain-community
langchain-openai
langchain-core

#keybert
#scikit-learn
#sentence-transformers
#numpy